In [1]:
import pandas as pd
import numpy as np

In [8]:
archivo = 'XYZ_ge30.csv'

# df = pd.read_excel(archivo, sheet_name='Sheet1')
df = pd.read_csv('xyz_ge30.csv')

# df.describe()
# df

In [3]:

df_gpp = df.loc[:,['ELEVATION','coords']]  
# df_gpp.
df_gpp
#

     ELEVATION                                             coords
0        38.80  [(1626044.43, 4755664.46), (1626033.17, 475566...
1        33.34  [(1626042.67, 4755674.45), (1626054.06, 475567...
2        49.37  [(1625832.76, 4755887.78), (1625822.85, 475588...
3        38.38  [(1625440.2, 4754691.15), (1625437.62, 4754691...
4        32.66  [(1625461.65, 4754556.58), (1625451.58, 475455...
..         ...                                                ...
139      38.38  [(1625440.2, 4754691.15), (1625437.62, 4754691...
140      47.83  [(1625332.18, 4754317.3), (1625357.88, 4754307...
141      30.93  [(1625309.23, 4754826.45), (1625313.82, 475483...
142      37.21  [(1625150.76, 4754068.51), (1625163.82, 475406...
143        NaN  [(1626092.8440975286, 4756026.544592799), (162...

[144 rows x 2 columns]

In [12]:
# xxc = df_gpp[ df_gpp['ELEVATION'] == 38.80].coords[0]
xcc = df_gpp['ELEVATION'][0]

xxc

# t = list(xxc[0])

'[(1626044.43, 4755664.46), (1626033.17, 4755662.42), (1626031.36, 4755672.4), (1626042.67, 4755674.45), (1626044.43, 4755664.46)]'

In [7]:
def arregla_esta_webada(x):
    lista = []
    x = x.replace('[','').replace(']','').replace('),',');').split(';')
    for i in x:
        a = i.replace('(','').replace(')','').split(',')
        p = [float(w) for w in a]
        lista.append(p)
    return lista

xx = arregla_esta_webada(xxc)

In [20]:
xx[0][1]

4755664.46